* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* body {
    background: url(./assets/bg-desktop.jpg) no-repeat center/cover;
    height: 100dvh;
}

#top-painel {
    height: 50px;
    background-image: url(./assets/bg-desktop-light.jpg);
    background-size: cover;
    display: flex;
}

#menu-icon {
    font-size: 38px;
    align-items: center;
    padding-left: 10px;
    transform: translateY(8px);
}

#search-source input {
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
    width: 100%;
    height: 8px;
    background-color: rgba(15, 15, 15, 0.06);
    padding: 12px 16px;
    border-radius: 50px;
    border-color: rgba(219, 219, 219, 0.943);
}

input::placeholder {
    color: rgb(124, 124, 124);
    font-size: 13px;
}

input:focus {
    outline: none;
}

#search-source {
    display: flex;
    align-items: center;
}

#painel-logout {
    display: flexbox;
    font-size: 30px;
    padding: 10px;
    transform: translateY(7px);
    justify-content: flex-end;
}

#container {
    border: 2px solid aqua;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#painel-login {
    height: 150px;
    width: 150px;
    border: 2px solid red;
}